.pay_h1{
    font-weight: 500!important;
    font-size: 22px;
    margin-top: 0!important;
    color: #202020!important;
}
.pi {
    width: 59px;
    height: 54px;
    max-width: 59px;
    max-height: 54px;
    cursor: pointer;
}
.cursor_pointer{
    cursor: pointer;
}
.form-control {
    height: 4em!important;
}
